{% extends "pages/doctor/D_base.html" %}
{% load static %}

{% block titles %}Edit Schedules|| Nepal's Care {% endblock titles %}

{% block pageof %} Edit Schedules{% endblock pageof %}
{% block linkPageof %} /d/edit-schedules/ {% endblock linkPageof %}

{% block styles %}



{% endblock styles %}

{% block content %}




{% endblock content %}


{% block scripts %}

<script>

    dashboard_nav_all = document.querySelectorAll('.edit_schedules-nav a');
    console.log(dashboard_nav_all);
    dashboard_nav_all.forEach((nav) => {
        nav_innertab =
            nav.classList.add('border-l-4', 'border-blue-500', 'bg-blue-50', 'rounded');
    });
</script>


{% endblock scripts %}